<h1>Signup!</h1>

<%= form_for @user do |form| %>

  <%# checks for submission errors and displays if necessary %>
  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented saving:</strong>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# signup form input fields %>
  First Name: <%= form.text_field :first_name %>
  Last Name: <%= form.text_field :last_name %>
  Email: <%= form.text_field :email %>
  Password: <%= form.password_field :password %>
  Password Confirmation: <%= form.password_field :password_confirmation %>
  <%= form.submit "Submit" %>

<% end %>